<div id="<%= dom_id translation %>">
  <p>
    <strong>Word:</strong>
    <%= translation.word %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= translation.language %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= translation.word_type %>
  </p>

  <p>
    <strong>Conjugation:</strong>
    <%= translation.conjugation %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= translation.example %>
  </p>

  <p>
    <strong>Translation:</strong>
    <%= translation.word_translation %>
  </p>

  <p>
    <strong>Votes:</strong>
    <%= translation.votes %>
  </p>

</div>
