<div id="<%= dom_id translation %>">
  <p>
    <strong>Word:</strong>
    <%= translation.word %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= translation.type %>
  </p>

  <p>
    <strong>Conjugation:</strong>
    <%= translation.conjugation %>
  </p>

  <p>
    <strong>Example:</strong>
    <%= translation.example %>
  </p>

  <p>
    <strong>Translation:</strong>
    <%= translation.translation %>
  </p>

  <p>
    <strong>Votes:</strong>
    <%= translation.votes %>
  </p>

</div>
