<div id="<%= dom_id translation %>">
  <!--<h3 class="font-weight-bold"><%= translation.word %></h3>-->
  <%# Add classes here !!! %>
  <%= link_to translation.word, "/translations/#{translation.id}", class: "h5" %>
  <div class="d-flex align-items-center">
    <h6 class="text-muted d-flex align-items-center"><%= "#{translation.word_type.capitalize} - #{pluralize(translation.votes, "vote")} -"%><%= button_to "Vote", vote_path(:id => translation.id), method: :post, class: "btn btn-success h-50 ml-1" %></h6>
  </div>
  <h6 class="text-muted">By <%= translation.user.username %></h6>
  <h3 class="font-weight-bold"><%= translation.word_translation %></h3>
  <hr/>
  <p style="<%= translation.word_type != "verb" ? "display: none" : "" %>">
    <a class="font-weight-bold" data-toggle="collapse" href="#conjugation-<%= translation.word.delete(' ').downcase! %>" role="button" aria-expanded="false" aria-controls="collapseExample">
      Conjugations
    </a>
    <div class="collapse" id="conjugation-<%= translation.word.delete(' ').downcase! %>"%>
      <table>
        <tr>
          <td></td>
          <th>Present</th>
          <th>Preterite</th>
          <th>Imperfect</th>
          <th>Conditional</th>
          <th>Future</th>
        </tr>
        <tr>
          <td>I</td>
          <td><%= translation.conjugation.present_i %></td>
        </tr>
          <td>You</td>
          <td><%= translation.conjugation.present_you %></td>
        <tr>
          <td>He/she/it</td>
          <td><%= translation.conjugation.present_hesheit %></td>
        </tr>
        <tr>
          <td>We</td>
          <td><%= translation.conjugation.present_we %></td>
        </tr>
        <tr>
          <td>You all</td>
          <td><%= translation.conjugation.present_youall %></td>
        </tr>
        <tr>
          <td>They</td>
          <td><%= translation.conjugation.present_they %></td>
        </tr>
      </table>
    </div>
  </p>

  <p>
    <strong>Example:</strong>
    <br>
    <%= translation.example %>
  </p>

</div>
